<mat-toolbar>
  <button mat-icon-button aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Louvre</span>
  <span></span>
  <button
    mat-icon-button
    aria-label="Icon button to shuffle images"
    (click)="randomize()"
  >
    <mat-icon>shuffle</mat-icon>
  </button>
  <button
    mat-icon-button
    (click)="selectDirectory()"
    aria-label="Icon button to set the directory to load images"
  >
    <mat-icon>folder</mat-icon>
  </button>
  <mat-paginator
    (page)="handlePageEvent($event)"
    [length]="filesService.imagesOrdered().length"
    [pageSize]="displayService.pageSize()"
    [pageIndex]="displayService.pageIndex()"
    [pageSizeOptions]="[0, 10, 20, 50, 100, 200]"
    aria-label="Select page"
  >
  </mat-paginator>
</mat-toolbar>
