<mat-toolbar class="flex-container space-between background-color-dark-alt">
  <div class="flex-container align-items-center gap-md">
    <button
      mat-icon-button
      (click)="location.back()"
      aria-label="Icon button to go back to previous page"
    >
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span>Louvre</span>
    <mat-button-toggle-group
      aria-label="Display type"
      [hideSingleSelectionIndicator]="true"
      [value]="displayService.displayType()"
      (change)="setDisplayType($event.value)"
    >
      <mat-button-toggle value="folder">Folder</mat-button-toggle>
      <mat-button-toggle value="item">All</mat-button-toggle>
    </mat-button-toggle-group>
    <button
      mat-icon-button
      aria-label="Icon button to shuffle images"
      (click)="randomize()"
    >
      <mat-icon>shuffle</mat-icon>
    </button>
    @if(filesService.subPathFilter() && filesService.subPathFilter() !== '' && filesService.subPathFilter() !== 'undefined' && filesService.subPathFilter() !== filesService.currentPath() && filesService.subPathFilter() !== '/') {
    <button
      mat-icon-button
      [aria-label]="'Move folder ' + filesService.currentFolderName()"
      [matMenuTriggerFor]="moveMenu"
    >
      <mat-icon>drive_file_move</mat-icon>
    </button>
    <mat-menu #moveMenu="matMenu">
      <div mat-menu-item disabled style="opacity: 1; color: white; cursor: default;">
        <strong>Moving:</strong> {{ filesService.currentFolderName() }}
      </div>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="filesService.pickMoveDestination()">
        <mat-icon>create_new_folder</mat-icon>
        <span>Pick new destination...</span>
      </button>
      @if (filesService.moveDestinations().length > 0) {
        <mat-divider></mat-divider>
        @for (dest of filesService.moveDestinations(); track dest.name) {
          <button mat-menu-item (click)="filesService.moveCurrentFolder(dest.handle)">
            <mat-icon>folder</mat-icon>
            <span>Move to {{ dest.name }}</span>
          </button>
        }
      }
    </mat-menu>
    }
    <button
      mat-icon-button
      (click)="selectDirectory()"
      aria-label="Icon button to set the directory to load images"
    >
      <mat-icon>folder</mat-icon>
    </button>
  </div>
  <div class="flex-container align-items-center">
    <mat-paginator
      (page)="handlePageEvent($event)"
      [length]="
        displayService.displayType() === 'folder'
          ? filesService.directoryOrdered().length
          : filesService.imagesOrdered().length
      "
      [pageSize]="displayService.pageSize()"
      [pageIndex]="displayService.pageIndex()"
      aria-label="Select page"
      hidePageSize
    >
    </mat-paginator>
    <button
      mat-icon-button
      aria-label="Button to show side navigation"
      (click)="toggleMenuEvent.emit()"
    >
      <mat-icon>menu</mat-icon>
    </button>
  </div>
</mat-toolbar>
