<mat-toolbar class="flex-container space-between background-color-dark-alt">
  <div class="flex-container align-items-center gap-md">
    <button
      mat-icon-button
      (click)="location.back()"
      aria-label="Icon button to go back to previous page"
    >
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span>Louvre</span>
    <mat-button-toggle-group
      aria-label="Display type"
      [hideSingleSelectionIndicator]="true"
      (change)="setDisplayType($event.value)"
    >
      <mat-button-toggle [checked]="true" value="item">All</mat-button-toggle>
      <mat-button-toggle value="folder">Folder</mat-button-toggle>
    </mat-button-toggle-group>
    <button
      mat-icon-button
      aria-label="Icon button to shuffle images"
      (click)="randomize()"
    >
      <mat-icon>shuffle</mat-icon>
    </button>
    <button
      mat-icon-button
      (click)="selectDirectory()"
      aria-label="Icon button to set the directory to load images"
    >
      <mat-icon>folder</mat-icon>
    </button>
    <button
      mat-icon-button
      (click)="showFolder()"
      mat-tooltip="Show file on computer"
    >
      <mat-icon>image_search</mat-icon>
    </button>
  </div>
  <div class="flex-container align-items-center">
    <mat-paginator
      (page)="handlePageEvent($event)"
      [length]="
        displayService.displayType() === 'folder'
          ? filesService.directoryOrdered().length
          : filesService.imagesOrdered().length
      "
      [pageSize]="displayService.pageSize()"
      [pageIndex]="displayService.pageIndex()"
      aria-label="Select page"
      hidePageSize
    >
    </mat-paginator>
    <button
      mat-icon-button
      aria-label="Button to show side navigation"
      (click)="toggleMenuEvent.emit()"
    >
      <mat-icon>menu</mat-icon>
    </button>
  </div>
</mat-toolbar>
