<mat-toolbar class="flex-container space-between background-color-dark-alt">
  <div class="flex-container align-items-center">
    <button
      mat-icon-button
      aria-label="Button to show side navigation"
      (click)="this.toggleMenuEvent.emit()"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span>Louvre</span>
    <span></span>
    <button
      mat-icon-button
      aria-label="Icon button to shuffle images"
      (click)="randomize()"
    >
      <mat-icon>shuffle</mat-icon>
    </button>
    <button
      mat-icon-button
      (click)="selectDirectory()"
      aria-label="Icon button to set the directory to load images"
    >
      <mat-icon>folder</mat-icon>
    </button>
  </div>
  <mat-paginator
    (page)="handlePageEvent($event)"
    [length]="filesService.imagesOrdered().length"
    [pageSize]="displayService.pageSize()"
    [pageIndex]="displayService.pageIndex()"
    [pageSizeOptions]="[0, 20, 50, 500]"
    aria-label="Select page"
  >
  </mat-paginator>
</mat-toolbar>
