<mat-sidenav-container class="full-height" hasBackdrop>
  <mat-sidenav #sidenav mode="over" position="end">
    <app-display-configs />
  </mat-sidenav>
  <mat-sidenav-content class="background-color-dark">
    <app-header
      class="header-sticky"
      (toggleMenuEvent)="sidenav.toggle()"
    ></app-header>
    @if(displayService.displayType() === "item"){
    <app-item-view></app-item-view>
    }@else {
    <app-directory-view></app-directory-view>
    }
  </mat-sidenav-content>
</mat-sidenav-container>
