:host {
  display: block;
  width: 100%;
  height: 100%;
}

.imageContainer {
  width: 100%;
  height: 100%;
  transform-origin: 0px 0px;
  transform: scale(1) translate(0px, 0px);
  cursor: grab;

  img {
    transform-origin: 0px 0px;
    transform: scale(1) translate(0px, 0px);
    cursor: grab;
    width: 100%;
    height: auto;
  }
}
