<img-header [file]="file()"></img-header>
<div
  #imageContainer
  class="imageContainer"
  (wheel)="onWheel($event)"
  (mousedown)="onMouseDown($event)"
  (mouseup)="onMouseUp()"
  (mousemove)="onMouseMove($event)"
  (keydown)="onKeyDown($event)"
>
  @if (isImg()) {
    <img #mainImage [src]="file().handle | objectUrl" [ngStyle]="customStyle()" />
  } @else {
    <video
      #mainImage
      [src]="file().handle | objectUrl"
      [ngStyle]="customStyle()"
      [muted]="displayService.muted()"
      controls
      controlsList="nofullscreen"
      autoplay
      loop
    ></video>
  }
</div>

@if (!isImg()) {
  <div class="video-controls-overlay">
    <button
      mat-icon-button
      class="video-control-btn"
      (click)="skip(-5, $event)"
      title="Rewind 5s"
    >
      <mat-icon>replay_5</mat-icon>
    </button>
    <button
      mat-icon-button
      class="video-control-btn"
      (click)="skip(5, $event)"
      title="Forward 5s"
    >
      <mat-icon>forward_5</mat-icon>
    </button>
  </div>
}
