@if (currentFile()) {
  <app-image-view [file]="currentFile()!"></app-image-view>
}

@if (hasPrev()) {
  <button mat-icon-button class="nav-button prev-button" (click)="prev()">
    <mat-icon>chevron_left</mat-icon>
  </button>
}

@if (hasNext()) {
  <button mat-icon-button class="nav-button next-button" (click)="next()">
    <mat-icon>chevron_right</mat-icon>
  </button>
}

<div class="filmstrip">
  @for (preview of filmstripWindow; track preview.url) {
    <div 
      class="filmstrip-item" 
      [ngClass]="{'active': preview.url === currentFile()?.url}"
      (click)="currentFile.set(preview)">
      
      @if (isVideo(preview)) {
        <video [src]="preview.url!" muted></video>
      } @else {
        <img [src]="preview.url!" />
      }
    </div>
  }
</div>
