:host {
  display: block;
  width: 100%;
  height: 100%;
}

.nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5) !important;
  color: white !important;
  width: 48px !important;
  height: 48px !important;

  mat-icon {
    font-size: 32px;
    width: 32px;
    height: 32px;
    line-height: 32px;
  }
  
  &:hover {
    background-color: rgba(0, 0, 0, 0.8) !important;
  }
}

.prev-button {
  left: 20px;
}

.next-button {
  right: 20px;
}