<div class="media-container">
  @if(isImg()) {
  <img
    (click)="imageViewService.openDialog(file().url!)"
    class="radius-sm pointer"
    [src]="file().url!"
    width="auto"
    [height]="height()"
    loading="lazy"
  />
  } @else {
  <video [width]="height()" [height]="height()" controls>
    <source [src]="file().url!" type="video/mp4" />
    <source [src]="file().url!" type="video/webm" />
    <source [src]="file().url!" type="video/ogg" />
    Your browser does not support the video tag.
  </video>
  }
</div>
