/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/magenta-violet.css";

$base-color: #222831;
$base-color-alt: #31363f;
$highlight-color: #76abae;
$hghlight-color-alt: #eeeeee;

html,
body {
  height: 100%;
  background-color: $base-color;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.space-between {
  justify-content: space-between;
}
.justify-content-center {
  justify-content: center;
}

.flex-container {
  display: flex;
}

.flex-column-container {
  display: flex;
  flex-direction: column;
}

.align-items-center {
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.gap-sm {
  gap: 8px;
}

.gap-md {
  gap: 16px;
}

.margin-sm {
  margin: 10px;
}

.full-height {
  height: 100%;
}

.radius-sm {
  border-radius: 8px;
}

.pointer {
  cursor: pointer;
}

.padding-container {
  padding: 16px 16px 16px 16px;
}

.background-color-dark {
  background-color: $base-color;
}

.background-color-dark-alt {
  background-color: $highlight-color;
}
