/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.space-between {
  justify-content: space-between;
}

.flex-container {
  display: flex;
}

.flex-column-container {
  display: flex;
  flex-direction: column;
}

.align-items-center {
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.gap-sm {
  gap: 10px;
}

.margin-sm {
  margin: 10px;
}

.full-height {
  height: 100%;
}
